@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@font-face {
  font-family: 'Espiritu';
  src: url('../fonts/espiritu.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins.woff2") format("woff2");
    font-style:normal;
    font-weight: 100 700;
    font-display: swap;
}

@theme {


    /* Fuentes */

    --font-espiritu: 'Espiritu', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
}